{% load static %}
<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img src="{% static 'image/n_pourcent.png' %}" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            TechnoSup
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-around" id="navbarNav"></div>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav" style="font-size: large; font-weight: 500; color: white;">
                <li class="nav-item">
                    <a class="nav-link nav-right" href="{% url 'nos_filiers' %}">Filiers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-right" href="{% url 'a_propos_de_nous' %}">A propos de nous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-right" href="#">Nos eleves sont ou?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-right" href="#">Nos activites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-right" href="{% url 'contact' %}">Contactez-nous</a>
                </li>
            </ul>
            <ul class="ms-auto">
                {% if user.is_authenticated %}
                {% if user.is_superuser == True %}
                <li class="nav-item btn btn-secondary a-hover">
                    <a class="nav-link" href="{% url 'hod_home' %}">TDB</a>
                </li>
                {% endif %}
                <!-- <li class="nav-item btn btn-secondary mx-3 a-hover">
                        <a class="nav-link" href="#">Renseignez-vous</a>
                    </li> -->
                {% if user.is_superuser == False %}
                <li class="nav-item btn btn-secondary a-hover">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                {% endif %}

                <li class="nav-item btn btn-secondary mx-3 a-hover">
                    <a class="nav-link" href="{% url 'logout' %}">Deconnectez-vous</a>
                </li>
                {% else %}
                <li class="nav-item btn btn-secondary a-hover">
                    <a class="nav-link" href="{% url 'login' %}">Connectez-vous</a>
                </li>
                <!-- <li class="nav-item btn btn-secondary mx-3 a-hover">
                        <a class="nav-link" href="#">Renseignez-vous</a>
                    </li> -->
                <li class="nav-item btn btn-secondary mx-3 a-hover">
                    <a class="nav-link" href="#">Enregistrez-vous</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
</nav>
<div class=" row">
    {% if messages %}
    {% for message in messages %}
    <h3 class="alert alert-{{ message.tags }}" style="text-align:center;">
        {{ message }}
    </h3>
    {% endfor %}
    {% endif %}
</div>