{% extends "base.html" %}

{% block content %}
<section class="mt-5" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <img src="{{ user.profile.background_image.url }}" style="height: 300px;" alt="">
        </div>
        <h1 class="text-center text-primary">
            Bienvenue,
            {% if user.profile.surnom %}
            {{ user.profile.surnom }}
            {% else %}
            {{ user.first_name}} {{ user.last_name}}
            {% endif %}
        </h1>

        <div class="row">
            <div class="col-lg-4">

                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ user.student.image.url }}" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 200px;">
                        <h5 class="my-3">{{ user.first_name}} {{ user.last_name}}</h5>
                        <p class="text-muted mb-1">
                            <b>{{ user.student.filiere.nom }}</b>
                            <br>
                            <b>{{ user.student.classe}}</b>
                        </p>

                        <p class="text-muted mb-2">No Matricule: <b>{{ user.student.immatriculation}}</b></p>
                        <div class="d-flex justify-content-center mb-2">

                            <a href="{% url 'subjects' %}" class="btn btn btn-primary">
                                Matieres
                            </a>
                            <a href="" class="btn btn-outline-primary ms-1">
                                Modifiez
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.first_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Prenom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.last_name }}</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Surnom</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.profile.surnom }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Sexe</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.student.sexe }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Date de naissance</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.student.date_de_naissance }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.student.telephone_etudiant }}</p>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        {% if user.un_admin %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone Parent</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.student.telephone_parent }}</p>
                            </div>
                        </div>
                        <hr>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.student.adresse }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}