{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- A propos de l'ecole -->
<div class="container pt-5">
    <h5>
        <span class="display-6">TechnoSup -BCG</span> est un etablissement prive d'enseignement superieur connu pour
        formation diplomante et
        specialisee,
        recherche et production, expertise.
    </h5>
    <hr>
    <h5>
        TechnoSup -BCG est en cinvention de collabortion (avec double "diplomation" et echange d'etudiants et de
        profeseeurs) avec TechnoSup - ISTA et l'institut Vitos'S, deux des plus grandes ecoles privees d'enseignement
        superieur au Mali.
    </h5>
    <hr>
    <h5>
        Jouissant de ce partenariat, nos diplomes delivres principalement avec TechnoSup - ISTA, sont tous
        agrees et habilites par les autorites maliennes competentes. Environ trente-deux (32) deja, de ces
        diplomes jouissent de l'accreditation du <b>CAMES</b>
    </h5>
    <hr>
    <h5>
        Nos profeseeurs selectiones pour leurs competences et probites, remplissent les criteres edictes
        par les autorites de tutelle de l'enseignement superieur.
    </h5>

    <h5>
        Nos salles de cours repondent a toutes les commodites minimales(confort, climatisation,...)
    </h5>
</div>
{% endblock content %}