{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-2">
        {% include "includes/sidebar.html" %}
    </div>
    <div class="col-10">
        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-12">
                                    <h2 class="text-center">Ajouter un etudiant</h2>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Photo Profil</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input type="file" class="form-control" name="profile_pic">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Nom</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="nom">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Prenom</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="prenom">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Nom d'utilisateur</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input type="text" class="form-control" name="username">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Date de Naissance</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="date_de_naissance"
                                                placeholder="dans cette forme 23-Juin-2022">
                                            <div id="emailHelp" class="form-text">ex: 01-Janvier-1990</div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Mot de passe</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input type="password" class="form-control" name="password">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Immatriculation</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="immatriculation">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Sexe</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <select name="sexe" id="" class="form-group col-12"
                                                style="height: 40px; border-radius: 5px;">
                                                <option>Choisir le sexe</option>
                                                <option value="Male">Male</option>
                                                <option value="Femelle">Femelle</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Filiere</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <select name="filiere_id" id="" class="form-group col-12"
                                                style="height: 40px; border-radius: 5px;">
                                                <option>Choisir la filiere</option>
                                                {% for filiere in filieres  %}
                                                <option value="{{ filiere.id }}">{{ filiere.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Classe</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <select name="classe" id="" class="form-group col-12"
                                                style="height: 40px; border-radius: 5px;">
                                                <option>Choisir la classe</option>
                                                <option value="Licence I">Licence I</option>
                                                <option value="Licence II">Licence II</option>
                                                <option value="Licence III">Licence III</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Promotion</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <select name="promotion_id" id="" class="form-group col-12"
                                                style="height: 40px; border-radius: 5px;">
                                                <option>Choisir la promotion</option>
                                                {% for promotion in promotions  %}
                                                <option value="{{ promotion.id }}">{{ promotion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Telephone Etudiant</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="tel" class="form-control" name="telephone_etudiant">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Telephone Parent</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="tel" class="form-control" name="telephone_parent">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Adresse</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="adresse">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <input class="btn btn-primary btn-lg my-2" type="submit" value="Ajouter">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}