{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-2">
        {% include "includes/sidebar.html" %}
    </div>
    <div class="col-10">
        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">User</a></li>
                                <li class="breadcrumb-item" aria-current="page">User Profile Update</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-12">
                                    <h4 class="text-center">Add Student</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Profile Pic</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input type="file" class="form-control" name="profile_pic">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Username</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input type="text" class="form-control" name="username">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Nom</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="nom">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Prenom</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="prenom">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Mot de passe</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <input type="password" class="form-control" name="password">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Sexe</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <select name="sexe" id="" class="form-group col-12"
                                                style="height: 40px; border-radius: 5px;">
                                                <option>Choisir le sexe</option>
                                                <option value="Male">Male</option>
                                                <option value="Femelle">Femelle</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Filiere</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <select name="course_id" id="" class="form-group col-12"
                                                style="height: 40px; border-radius: 5px;">
                                                <option>Choisir la filiere</option>
                                                {% for course in courses  %}
                                                <option value="{{ course.id }}">{{ course.name }}</option>
                                                {% endfor %}


                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Session</p>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <select name="session_year_id" id="" class="form-group col-12"
                                                style="height: 40px; border-radius: 5px;">
                                                <option>Choisir la session</option>
                                                {% for year in session_years  %}
                                                <option value="{{ year.id }}">{{ year.session_start }} --
                                                    {{ year.session_end }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Telephone</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="tel" class="form-control" name="telephone">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Adresse</p>
                                        </div>
                                        <div class=" form-group col-sm-9">
                                            <input type="text" class="form-control" name="adresse">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <input class="btn btn-primary btn-lg my-2" type="submit" value="Ajouter">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}