{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- A propos de l'ecole -->
<div class="container pt-5">
    <h2>Nos Filieres</h2>
    <ul class="h5 lh-lg">
        <li>FCB - Finance Compatabilite Banque</li>
        <li>GE - Gestion d'Entreprise</li>
        <li>GLT - Gestion Logistique et Transport</li>
        <li>GRH - Gestion des Resources Humaines</li>
        <li>MC - Marketing Communication</li>
        <li>MIAGE - Informatique de Gestion</li>
        <li>ACG- Audit et Controle de Gestion</li>
        <li>GAP - Gestion des Administrations et des Projects</li>
        <li>Autres(en Fonction de la Demande)</li>
    </ul>
</div>
{% endblock content %}