{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-2">
            {% include "includes/sidebar.html" %}
        </div>
        <div class="col-10">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">Immatriculation</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Class</th>
                            <th scope="col">Filiere</th>
                            <th scope="col">No. Tel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <img src="{{ student.admin.profile_pic.url }}" alt="" class="rounded-circle"
                                    style="height: 25px">
                            </td>
                            <td>LT2021X0416</td>
                            <td>{{ student.admin.first_name}}</td>
                            <td>{{ student.admin.last_name}}</td>
                            <td>{{ student.course_id }}</td>
                            <td>MIAGE</td>
                            <td>
                                {{ student.telephone }}
                                <a href="{% url 'edit-student' student.id %}">Modifiez</a>
                                <a href="{% url 'delete-student' student.id %}">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}