{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-2">
            {% include "includes/sidebar.html" %}
        </div>
        <div class="col-10">
            <h3 class="text-center pt-3 font-weight-bolder"><u>Liste des etudiants actives</u></h3>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">Immatriculation</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Classe</th>
                            <th scope="col">Filiere</th>
                            <th scope="col">No. Tel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <img src="{{ student.image.url }}" alt="" class="rounded-circle" style="height: 25px">
                            </td>
                            {% comment %}
                            <!-- <td>
                                <a
                                    href="{% url 'admin-check-profile' student.user.id %}">{{ student.immatriculation }}</a>
                            </td> -->
                            {% endcomment %}

                            <td>{{ student.immatriculation }}</td>
                            <td>{{ student.user.first_name }}</td>
                            <td>{{ student.user.last_name }}</td>
                            <td>{{ student.classe }}</td>
                            <td>{{ student.filiere.nom }}</td>
                            <td>
                                {{ student.telephone_etudiant }}
                                <a href="{% url 'edit-student' student.id %}">Modifiez</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}