{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-2">
            {% include "includes/sidebar.html" %}
        </div>
        <div class="col-10">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Fonction</th>
                            <th scope="col">No. Tel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staffs %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <img src="{{ staff.admin.profile_pic.url }}" alt="" class="rounded-circle"
                                    style="height: 25px">
                            </td>
                            <td>{{ staff.admin.first_name}}</td>
                            <td>{{ staff.admin.last_name}}</td>
                            <td>Regisseur</td>
                            <td>
                                {{ staff.telephone }}
                                <a href="">Modifiez</a>
                                <a href="">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}